.header{
    font-weight: bold;
    background-color: #d9d9d9;
}

.hover{
    cursor: pointer!important;
}

.ro{
    margin-left: 25%;
}

.price{
    margin-left: 35%;
}

.tooLow{
    -webkit-text-fill-color: #f54049;
}

.warn{
    -webkit-text-fill-color: #edd11a;
}

.goodPrice{
    -webkit-text-fill-color: black;
}
.totals{
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
}